:root {
  --neon-blue: #1f51ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  color: black;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 64px;
}

ul li a {
  font-size: 1.1rem;
  margin: 0 32px;
  padding: 4px 0;
}

ul li a:hover {
  border-bottom: 3px solid var(--neon-blue);
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

#home-wrapper {
  margin-bottom: 64px;
}

#home-wrapper h1 {
  margin-bottom: 16px;
  font-size: 2rem;
}

#home-wrapper p {
  font-size: 1.4rem;
}

#name,
.Typewriter__wrapper {
  color: var(--neon-blue);
}

#about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#about-wrapper {
  display: grid;
  grid-template-columns: 200px 400px;
  width: 600px;
}

#about-wrapper h2 {
  font-size: 1.4rem;
}

#about-wrapper p {
  grid-column: 2;
  margin-bottom: 16px;
  font-size: 1.1rem;
}

#about-wrapper p span {
  color: var(--neon-blue);
}
